<head>
    <link rel="stylesheet" href="https://bit.ly/stylesheeet" />
  </head>
  
  <div class="p-3 flex items-center justify-between">
    <h3 class="font-semibold">Transactions</h3>
    <div class="flex items-center space-x-2 text-sm bg-gray-100 p-3 rounded-xl">
      <i class="fa-duotone fa-magnifying-glass fa-xl"></i>
      <input class="bg-transparent focus:outline-none" type="text" [(ngModel)]="searchQuery" (input)="filterData()"
        placeholder="Search..." />
    </div>
        <div class="button-con">
            <!-- <button class="filter-button">
                Filter By: Date <i class="fas fa-caret-down"></i>
              </button> -->
              <div class="d-flex shadow-none p-2 bg-body-tertiary rounded-6 bg-body-tertiary mx-4 mt-4" style="width: 15rem;">

                <select class="form-select bg-body-tertiary">
                  <option>Filter By: Date</option>
                  <option>Last 7 days</option>
                  <option>Last 30 days</option>
                  <option>Last 90 days</option>
                </select>
              </div>

              <button type="button" class="btn btn-primary mt-4">Export</button>
        </div>
  </div>
  
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center text-sm font-light">
            <thead class="border-b bg-gray-200 font-medium dark:border-neutral-500 dark:text-neutral-800">
              <tr>
                <th scope="col" class=" px-6 py-4 cursor-pointer" (click)="sort('id')">Transaction ID</th>
                <th scope="col" class=" px-6 py-4 cursor-pointer" (click)="sort('payment_type')">Payment Type</th>
                <th scope="col" class=" px-6 py-4 cursor-pointer" (click)="sort('amount')">Amount</th>
                <th scope="col" class=" px-6 py-4 cursor-pointer" (click)="sort('date')">Date</th>
                <th scope="col" class=" px-6 py-4 cursor-pointer" (click)="sort('description')">Description</th>
                <th scope="col" class=" px-6 py-4 cursor-pointer" (click)="sort('status')">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="dark:border-neutral-500" *ngFor="let item of displayedData">
                <td class="px-6 py-4 font-medium cursor-pointer" (click)="openModal(item)">{{ item.id }}</td>
                <td class="whitespace-nowrap  px-6 py-4">{{ item.payment_type }}</td>
                <td class="whitespace-nowrap  px-6 py-4">{{ item.amount }}</td>
                <td class="whitespace-nowrap  px-6 py-4">{{ item.date }}</td>
                <td class="whitespace-nowrap  px-6 py-4">{{ item.description }}</td>
                <td class="whitespace-nowrap  px-6 py-4">{{ item.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flex items-center justify-end">
    <div class="pagination flex items-center space-x-3 bg-white p-2 rounded-md text-xs">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div *ngIf="showModal" class="custom-modal">
    <!-- <div class="custom-modal"> -->
    <div class="flex md:w-2/6">
      <div class="bg-white relative w-full rounded-xl">
        <div class="rounded-t-xl py-9 bg-primary-light">
          <h3 class="font-semibold px-3">Payment</h3>
          <div class="text-center space-y-3 py-6">
            <p>Amount</p>
            <h3 class="font-bold text-3xl">{{ modalData.amount }}</h3>
          </div>
        </div>
        <div class="px-5 py-3 space-y-3 text-sm">
          <p class="flex items-center justify-between">
            <span>Transaction ID</span><span class="text-right">{{ modalData.id }}</span>
          </p>
          <p class="flex items-center justify-between">
            <span>Payment Type</span> <span class="text-right">{{ modalData.payment_type }}</span>
          </p>
          <p class="flex items-center justify-between">
            <span>Amount</span> <span class="text-right">{{ modalData.amount }} </span>
          </p>
          <p class="flex items-center justify-between">
            <span>Date</span> <span class="text-right">{{ modalData.date }}</span>
          </p>
          <p class="flex items-center justify-between">
            <span>Status</span> <span class="text-right">{{ modalData.status }}</span>
          </p>
          <p class="flex items-center justify-between">
            <span>Platform Commission</span> <span class="text-right">N150.00</span>
          </p>
          <p class="flex items-center justify-between">
            <span>Description</span> <span class="text-right">{{ modalData.description }}</span>
          </p>
        </div>
        <!-- Close button for the modal -->
        <button (click)="closeModal()" class="absolute top-5 right-5"><i class="fas fa-x fa-sm"></i></button>
      </div>
    </div>
  </div>
