<head>
  <link rel="stylesheet" href="https://bit.ly/stylesheeet" />
</head>

<app-header>
  <p>Food Manager</p>
</app-header>

<div class="md:ml-5 md:mr-10 mx-3 mt-6 bg-white rounded-xl p-6">
  <div class="bg-primary-light flex justify-between items-center p-6 rounded-xl">
    <div class="space-y-3 md:w-3/4">
      <h3 class="font-bold text-2xl">Food Manager</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div>
      <button class="bg-primary rounded-xl py-1 px-6">Create Menu</button>
    </div>
  </div>
  <app-food-list-table></app-food-list-table>
</div>