<app-header>
  <p>Menu Module</p>
</app-header>

<section class="shadow p-3 mt-5 bg-white rounded-3 ms-3" style="width: 97%; height: 100%;">

  <div class="container">
    <div class="bottomless"></div>
    <div class="d-flex flex-col align-items-center justify-content-center">
      <img src="../../assets/images/image 28.png" alt="image28">

      <div class="text-center">
        <h3 class="fw-semibold f10">Welcome to Menu</h3>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur. In non varius <br> venenatis. Ultrices ut.</p>
        <div
        class="mt-5 border rounded-3 d-flex justify-content-center"
        style="background: #c1cf65"
      >
        <button
          class="btn py-1 fw-medium"
          style="color: black !important"
          type="submit"
        >
          Add a Menu
        </button>
      </div>
      </div>
    </div>
  </div>
</section>