<section>
    <div class="container">

        <div class="toppanel mt-5">
            <div class="d-flex align-items-center justify-content-between mx-5">
                <p>Dashboard</p>
                
                
                
                <div class="d-flex">
                    <div class="users">
                    <i class="fa-regular fa-bell"></i>
                    </div>
                    <p>Sharafadeen</p>
                    <div class="iconview">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>