/* body{
    height: 100vh;
    overflow-y: hidden;
} */

/* .header{
    overflow: hidden !important;
    height: 100vh;
} */

.body {
    background-color: #f8f9f9;
  }

.paddedsize{
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin-bottom: 0rem;
    padding-top: 0.9rem;
    padding-bottom: 0.4rem;
    height: 3.5rem;
}


.outside{
    position: relative;
}

.inside{
    position: absolute;
    margin-top: -10rem;
    margin-left: 6rem;
}

/* fonts */

.f10{
    font-size: 30px;
}


.btn-primary{
    background: #C1CF65 !important;
    border-color: #C1CF65 !important;
}

.bg-gray{
    background-color: rgba(232, 232, 232, 0.8) !important;
}


@media(max-width:1025px){
    .summary-size{
        width: 20rem !important;

    }

    .table2width{
      width: fit-content !important;
    }
}


@media(min-width:1440px) and (max-width:2560px){

    .collapse:not(.show){
      display: contents !important;
    }
  
    .navbar-collapse{
      flex-basis: 0 !important;
      /* flex-grow: 1 !important; */
    }


    .table2width{
      width: 100% !important;
    }
  }



  
  @media (max-width: 475px) {

    .collapse:not(.show){
      display: none !important;

    }

    .navbar-collapse{
      flex-basis: 100% !important;
      flex-grow: 1 !important;
    }

    .displayed {
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      overflow: hidden;
    }

    .table2width{
      width: fit-content !important;
    }
}