

.payment-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    width: 100%;
    padding: 10px 4% 20px;
}
  .payment-container {
    max-width: 350px;
    height: 250px;
    border-radius: 12px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    color: #2d2d2d;
  }

  .payment-container:hover {
    background-color: #5C7E64;
    color: #fff;
  }
  
  .payment-container .item-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #F2FFCD;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .line-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }

  .chart-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    width: 100%;
    padding: 10px 4% 20px;
  } 

  .select {
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  .block-1, .block-2 {
    max-width: 600px;
    height: auto;
  }

  .block-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    max-width: 650px;
    position: relative;
    flex: 1;
  }


  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .chart-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .chart-description {
    text-align: center;
  }

  .chart-legend {
    display: flex;
    flex-direction: column;
  }

  .legend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.legend-color {
  width: 10px; 
  height: 10px;  
  border-radius: 50%;
  display: inline-block;
}

.legend-text {
  flex: 1;
}

  .table-holder {
    display: flex;
    flex-direction: column;
    padding: 10px 4% 0px;
  }

  
  
  .search-input i {
    margin-right: 10px;
    cursor: pointer;
  }

  .button-con {
    display: flex;
  }
  
  /* .displayed{
    display: flex;
  }
  */

  @media(max-width:2560px){

    .collapse:not(.show){
      display: contents !important;
    }
  
    .navbar-collapse{
      flex-basis: 0 !important;
      /* flex-grow: 1 !important; */
    }
  }



  
  @media (max-width: 475px) {

    .collapse:not(.show){
      display: none !important;

    }

    .navbar-collapse{
      flex-basis: 100% !important;
      flex-grow: 1 !important;
    }

    .displayed {
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      overflow: hidden;
    }
  }