

.payment-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    width: 100%;
    padding: 10px 4% 20px;
}
  .payment-container {
    max-width: 400px;
    height: 250px;
    border-radius: 12px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    color: #2d2d2d;
  }

  .payment-container:hover {
    background-color: #5C7E64;
    color: #fff;
  }
  
  .payment-container .item-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #F2FFCD;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
  }

  .line-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }

  .chart-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    width: 100%;
    padding: 10px 4% 20px;
  } 

  .select {
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  .block-1 {
    max-width: 600px;
    height: 230px;
  }

  #barChart {
    width: 100%; /* Take the full width of the container */
    height: 100%; /* Take the full height of the container */
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
    max-height: 100%; /* Ensure it doesn't exceed the container's height */
  }

  .block-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 650px;
    height: 230px;
    position: relative;
  }


  .chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
  }
  
  .chart-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  


  .legend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.legend-color {
  width: 10px; 
  height: 10px;  
  border-radius: 50%;
  display: inline-block;
}

.legend-text, .legend-amount {
  max-width: 100px;
}

  .table-holder {
    display: flex;
    flex-direction: column;
    padding: 10px 4% 0px;
  }

  
  
  .search-input i {
    margin-right: 10px;
    cursor: pointer;
  }

  .button-con {
    display: flex;
  }
  
  
 
  
  