<app-header>
  <p>Payment</p>
</app-header>

<section class="payment-holder">
    <div class="payment-container flex flex-col p-3">
        <h2 class="text-xl font-medium mb-3">Balance</h2>
        <div class="text-2xl font-medium mt-2.5 mb-3.5">₦<span>304,400.00</span></div>
        <div class="item-icon">
            <img src="assets/images/bell.svg" alt="">
          </div>
          <div class="line-chart  mt-3.5">
            <img src="assets/images/green-line.svg" alt="">
          </div>
    </div>
    <div class="payment-container flex flex-col p-3">
        <h2 class="text-xl font-medium mb-3">Revenue</h2>
        <div class="text-2xl font-medium mt-2.5 mb-3.5">₦<span>304,400.00</span></div>
        <div class="item-icon">
            <img src="assets/images/bell.svg" alt="">
          </div>
          <div class="line-chart  mt-3.5">
            <img src="assets/images/green-line.svg" alt="">
          </div>
    </div>
    <div class="payment-container flex flex-col p-3">
        <h2 class="text-xl font-medium mb-3">Net Earning</h2>
        <div class="text-2xl font-medium mt-2.5 mb-3.5">₦<span>304,400.00</span></div>
        <div class="item-icon">
            <img src="assets/images/bell.svg" alt="">
          </div>
          <div class="line-chart  mt-3.5">
            <img src="assets/images/green-line.svg" alt="">
          </div>
    </div>    
</section>
<!-- <section class="chart-section">
    <div style="width: 80%; margin: 0 auto;">
        <canvas id="barChart" width="400" height="300"></canvas>
      </div>      
</section> -->
<section class="chart-section md:ml-5 md:mr-10 mx-3 mt-6">
    <div class="block-1 grid grid-cols-3 gap-3"></div>
    <div class="block-2"></div>
</section>
<section class="table-holder">
  <div class="mt-10 bg-white rounded-xl">
    <app-payment-table></app-payment-table>
  </div>
</section>