@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Commissioner', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 20px 4px 10px #f3eee7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #C1CF65;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C1CF65;
}

.bg-primary {
  background-color: #C1CF65 !important;
}

.text-primary {
  color: #C1CF65 !important;
}

.bg-primary-light {
  background-color: #F2FFCD !important;
}

.bg-base {
  background-color: #5C7E64 !important;
}

.active-route {
  background-color: #C1CF65 !important;
}