section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
nav {
    max-width: 200px;
    margin-top: 10px;
}
.hover:hover {
    background-color: #C1CF65 !important;
    cursor: pointer;
  }

  .selected-page {
    flex: 1; /* Allow the selected page to take up remaining space */
    padding: 20px; /* Add spacing around the selected page content */
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }
        
}